<%+cbi/valueheader%>

<div class="cbi-value-field">
	<input class="cbi-button cbi-button-apply" type="button" id="btn_check_update" value="<%:Check Update%>" onclick="handleCheckUpdate(this)" />
	<input class="cbi-button cbi-button-save" type="button" id="btn_do_update" value="<%:Update Core%>" style="display:none" onclick="handleDoUpdate(this)" />
	<input class="cbi-button cbi-button-remove" type="button" id="btn_force_update" value="<%:Force Update%>" style="display:none" onclick="handleDoUpdate(this, true)" />
	
	<div id="update_status_msg" style="display:inline-block; margin-left: 10px; color: #666;"></div>
	
	<div id="update_log_container" style="display:none; margin-top: 10px;">
		<textarea id="update_log_area" class="cbi-input-textarea" style="width: 100%; height: 200px; font-family: monospace; font-size: 12px; background: #333; color: #fff;" readonly></textarea>
	</div>
</div>

<script type="text/javascript">//<![CDATA[
	var checkUrl = '<%=luci.dispatcher.build_url("admin", "services", "AdGuardHome", "check_update")%>';
	var updateUrl = '<%=luci.dispatcher.build_url("admin", "services", "AdGuardHome", "do_update")%>';
	var pollLogUrl = '<%=luci.dispatcher.build_url("admin", "services", "AdGuardHome", "poll_log")%>';
	
	var logPos = 0;
	var pollTimer = null;

	function handleCheckUpdate(btn) {
		btn.disabled = true;
		btn.value = '<%:Checking...%>';
		document.getElementById('update_status_msg').innerHTML = '';
		document.getElementById('btn_do_update').style.display = 'none';
		document.getElementById('btn_force_update').style.display = 'none';

		L.get(checkUrl).then(function(xhr) {
			btn.disabled = false;
			btn.value = '<%:Check Update%>';
			
			var data = xhr.json();
			if (!data) {
				alert('<%:Error: No response%>');
				return;
			}
			
			if (data.error) {
				document.getElementById('update_status_msg').innerHTML = '<span style="color:red">' + data.error + '</span>';
				// 即使出错也允许强制更新
				document.getElementById('btn_force_update').style.display = 'inline-block';
			} else {
				var msg = '<%:Current%>: <b>' + data.current + '</b>, <%:Latest%>: <b>' + data.latest + '</b>';
				if (data.updatable) {
					msg += ' <span style="color:green; font-weight:bold"><%:Update Available!%></span>';
					document.getElementById('btn_do_update').style.display = 'inline-block';
				} else {
					msg += ' <span><%:Up to date%></span>';
					document.getElementById('btn_force_update').style.display = 'inline-block';
				}
				document.getElementById('update_status_msg').innerHTML = msg;
			}
		});
	}

	function handleDoUpdate(btn, force) {
		if (!confirm('<%:Are you sure to update core? Service will restart.%>')) return;
		
		btn.disabled = true;
		var originalVal = btn.value;
		
		// Reset UI
		document.getElementById('update_log_container').style.display = 'block';
		var logArea = document.getElementById('update_log_area');
		logArea.value = '<%:Initiating update...%>\n';
		logPos = 0;

		// Trigger Update
		L.get(updateUrl, { force: force ? '1' : '0' }).then(function(xhr) {
			// Start polling log
			pollTimer = window.setInterval(pollLog, 1000);
		});
	}

	function pollLog() {
		L.get(pollLogUrl, { pos: logPos }).then(function(xhr) {
			var data = xhr.json();
			if (data) {
				var logArea = document.getElementById('update_log_area');
				if (data.log) {
					logArea.value += data.log;
					logArea.scrollTop = logArea.scrollHeight; // Auto scroll
				}
				logPos = data.pos;
				
				if (data.done) {
					window.clearInterval(pollTimer);
					logArea.value += '\n<%:Process finished.%>';
					// Re-enable buttons? Maybe reload page is better
					document.getElementById('btn_check_update').disabled = false;
				}
			}
		});
	}
//]]></script>

<%+cbi/valuefooter%>