<%+cbi/valueheader%>

<script type="text/javascript" src="<%=resource%>/twin-bcrypt.min.js"></script>

<div class="cbi-value-field">
	<input type="password" class="cbi-input-password" id="adh_new_pass" placeholder="<%:New Password%>" />
	<input type="button" class="cbi-button cbi-button-apply" id="btn_calc_hash" value="<%:Calculate Hash%>" onclick="calcHash()" />
	<br/><br/>
	<input type="text" class="cbi-input-text" id="cbid.AdGuardHome.AdGuardHome.hashpass" name="cbid.AdGuardHome.AdGuardHome.hashpass" placeholder="<%:Hash output%>" readonly style="width: 100%; color: #666;" />
	<div class="cbi-value-description"><%:Enter new password above and click Calculate. The hash will be filled automatically.%></div>
</div>

<script type="text/javascript">//<![CDATA[
	function calcHash() {
		var pass = document.getElementById('adh_new_pass').value;
		var hashField = document.getElementById('cbid.AdGuardHome.AdGuardHome.hashpass');
		var btn = document.getElementById('btn_calc_hash');
		
		if (!pass) {
			alert('<%:Password cannot be empty%>');
			return;
		}
		
		if (typeof TwinBcrypt === 'undefined') {
			alert('<%:Error: Crypto library not loaded%>');
			return;
		}

		btn.disabled = true;
		btn.value = '<%:Calculating...%>';
		
		// 使用 setTimeout 将计算推入下一个事件循环，允许 UI 刷新
		setTimeout(function() {
			try {
				var hash = TwinBcrypt.hashSync(pass, TwinBcrypt.genSalt(10));
				hashField.value = hash;
				// Trigger change event for LuCI to detect
				hashField.dispatchEvent(new Event('change', { bubbles: true }));
				btn.value = '<%:Calculated%>';
			} catch(e) {
				console.error(e);
				alert('<%:Calculation failed%>');
				btn.value = '<%:Calculate Hash%>';
			} finally {
				btn.disabled = false;
			}
		}, 50);
	}
//]]></script>

<%+cbi/valuefooter%>