<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[AdGuardHome]], [[status]])%>', null,
	function(x, data) {
		const tb = document.getElementById('AdGuardHome_status');
		if (data && tb) {
			let status = '';
			if (data.running) {
				status += '<font color=green>AdGuard Home <%:RUNNING%></font>';
			} else {
				status += '<font color=red>AdGuard Home <%:NOT RUNNING%></font>';
			}
			status += ' ';
			if (data.redirect)
			{
				status += '<font color=green>(<%:Redirected%>)</font>'
			} else {
				status += '<font color=red>(<%:Not redirected%>)</font>'
			}
			tb.innerHTML = `<em><b>${status}</b></em>`;
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="AdGuardHome_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>