<%+cbi/valueheader%>
<script src="/luci-static/resources/codemirror/lib/codemirror.min.js"></script>
<link rel="stylesheet" href="/luci-static/resources/codemirror/lib/codemirror.min.css"/>
<script src="/luci-static/resources/codemirror/mode/yaml/yaml.min.js"></script>
<link rel="stylesheet" href="/luci-static/resources/codemirror/theme/dracula.min.css"/>
<link rel="stylesheet" href="/luci-static/resources/codemirror/addon/fold/foldgutter.min.css"/>
<script src="/luci-static/resources/codemirror/addon/fold/foldcode.min.js"></script>
<script src="/luci-static/resources/codemirror/addon/fold/foldgutter.min.js"></script>
<script src="/luci-static/resources/codemirror/addon/fold/indent-fold.min.js"></script>
<script type="text/javascript">//<![CDATA[
var editor = CodeMirror.fromTextArea(document.getElementById("cbid.AdGuardHome.AdGuardHome.escconf"), {
mode: "text/yaml",  // Code highlighting mode
styleActiveLine: true,
lineNumbers: true,	// Show line numbers
theme: "dracula",	// Set theme to Dracula
lineWrapping: true,	// Enable line wrapping
foldGutter: true,
gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
matchBrackets: true // Enable bracket matching
}
);
// Set editor size
editor.setSize("100%", "70vh");
// Refresh editor on window resize
window.addEventListener('resize', function() {
    editor.refresh();
});
function reload_config(){
	XHR.get('<%=url([[admin]], [[services]], [[AdGuardHome]], [[reloadconfig]])%>', null,
	function(x, data) {
	location.reload();
	});}
function use_template(){
	XHR.get('<%=url([[admin]], [[services]], [[AdGuardHome]], [[gettemplateconfig]])%>', null,
	function(x, data) {
	editor.setValue(x.responseText)
	});}
//]]>
</script> 
<%fs=require"nixio.fs"%>
<%if fs.access("/tmp/AdGuardHometmpconfig.yaml") then%>
<input type="button" id="apply_update_button" value="<%:Reload config%>" onclick="reload_config()"/>
<%end%>
<input type="button" id="template_button" value="<%:Use template%>" onclick="use_template()"/>
<%+cbi/valuefooter%>